<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ActiveDirectory" connectionString="LDAP://127.0.0.1" providerName="" />
    <add name="MySecurity" connectionString="Data Source=(local);Initial Catalog=MySecurity;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.diagnostics>
    <trace autoflush="false" indentsize="4"><listeners></listeners></trace>
    <switches>
      <add name="Group1" value="Warning" />
    </switches>
    <sources>
      <source name="TRACE" switchValue="All"><listeners><clear /><add name="DebugListener" /></listeners></source>
      <source name="CONSOLE" switchValue="All"><listeners><clear /><add name="DebugListener" /></listeners></source>
      <source name="FIRSTCHANCE" switchValue="All"><listeners><clear /><add name="FormattedFileListener" /></listeners></source>
      <source name="General" switchValue="Error"><listeners><clear /><add name="CsvFileListener" /></listeners></source>
      <source name="MySource" switchName="Group1"><listeners><clear /><add name="FormattedFileListener" /></listeners></source>
      <source name="MyEvSource" switchValue="Information"><listeners><clear /><add name="EventLogListener" /></listeners></source>
    </sources>
    <sharedListeners>
      <add name="EventLogListener" type="ChuckHill2.EventLogTraceListener, ChuckHill2.Utilities" initializeData="Source=LoggerDemo">
        <filter type="ChuckHill2.MultiSourceFilter, ChuckHill2.Utilities" initializeData="DisallowedSource1,DisallowedSource2,DisallowedSource3" />
      </add>
      <add name="DebugListener" type="ChuckHill2.DebugTraceListener, ChuckHill2.Utilities" />
      <add name="CsvFileListener" type="ChuckHill2.FileTraceListener, ChuckHill2.Utilities" />
      <add name="FormattedFileListener" type="ChuckHill2.FileTraceListener, ChuckHill2.Utilities"
           initializeData="Filename=%ProcessName%%ProcessId%.log;
           Format={LocalDateTime:yyyy-MM-ddTHH:mm:ss.fff} Severity: {Severity}, Source: {SourceName}\r\nMessage: {UserMessage}\r\n{ExceptionOrCallStack}" />
    </sharedListeners>
  </system.diagnostics>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="ben@contoso.com">
        <network clientDomain="www.contoso.com" defaultCredentials="true" enableSsl="false" host="mail.contoso.com" port="25" userName="MyMailServerUsername" password="MyMailServerPassword" />
      </smtp>
    </mailSettings>
  </system.net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
